<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}  {{ site.name }}</title>

  <link rel="icon" href="{{ '/assets/images/arcet.webp' | relative_url }}" type="image/png">

  <link rel="stylesheet" 
        href="{{ '/assets/css/main.css' | relative_url }}">
        
  {% if page.code %}      
    <link rel="stylesheet" 
      href="/assets/css/rouge.css">
  {% endif %}
  
  {% if page.math %}
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">

    <script defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>

    <script defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"></script>
  {% endif %}
</head>
<body>

  {{ content }}

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  
  {% if page.math %}
    <script>
      window.addEventListener("load", () => {
        renderMathInElement(document.body, {
          delimiters: [
            { left: "\\[", right: "\\]", display: true },
            { left: "\\(", right: "\\)", display: false }
            ],
          
            throwOnError: false
        });
      });
    </script>
  {% endif %}
  
</body>
</html>